/* Algemene opmaak voor de hele pagina */
body {
    background-image: url("banner.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 10%;
    
    background-color: rgb(235, 235, 235);
    font-family: Arial, sans-serif;
    color: rgb(101, 67, 33); 
}

.center-cell {
    text-align: center;
    vertical-align: middle;
}

.honden-foto {
    width: 300px;
    height: auto;
}

.header {
    text-align: center;
}

#hoofdtitel {
    margin-bottom: 500px;
    color: rgb(101, 67, 33); 
}

.tussenlaag .foto1 {
    position: absolute;
    top: -50px;
    width: 20%;
    z-index: 1;
    pointer-events: none;
    transform: rotate(270deg);
  }
  .tussenlaag .foto2 {
    position: absolute;
    top: -80px;
    left:300px;
    width: 20%;
    z-index: 1;
    pointer-events: none;
    transform: rotate(270deg);
  }
  .tussenlaag .foto3 {
    position: absolute;
    top: -80px;
    left:635px;
    width: 20%;
    z-index: 1;
    pointer-events: none;
    transform: rotate(270deg);
  }
  .tussenlaag .foto4 {
    position: absolute;
    top: -80px;
    left:970px;
    width: 20%;
    z-index: 1;
    pointer-events: none;
    transform: rotate(270deg);
  }

